/* ----------------------------------------------- */
/* ----------------- GENERAL SETUP --------------- */
/* ----------------------------------------------- */

html, body{
    scroll-behavior: smooth;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #7f7f7f;
}

/* ----------------------------------------------- */
/* ---------------- HEADER SECTION --------------- */
/* ----------------------------------------------- */

/* ---------------- NAVBAR --------------- */
header {
    background-color: #F8F8F8;
}

.navbar {
    padding: 0.6rem 0;
}

.main-logo {
    height: 30px;
}

.nav-link {
    font-size: 80%;
    margin-right: 10px;
    color: #636466 !important;
}

.work-button {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 55%, rgba(0,212,255,1) 100%);
    color: #fff !important;
    display: inline-block;
    padding: 8px 17px !important;
    margin: 3px 0 0 !important;
}

/* ---------------- HERO SECTION --------------- */
.hero-text-container {
    margin: 150px 0 110px;
}

.title-hero {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0.4rem;
}

.main-hero {
    font-size: 350%;
    font-weight: 700;
    /*background: linear-gradient(180deg, #FF0000 0%, #5D216A 100%);*/
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 55%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.end-hero {
    text-transform: uppercase;
    color: #0F519D;
}

.tools-row {
    background-color: #F8F8F8;
    padding: 25px 0;
    overflow: hidden;
    white-space: nowrap;
}

.tool-image {
    padding: 0 45px;
    max-height: 53px;
}

.hero-image {
    margin: 80px 0 30px;
    display: block;
    height: 380px;
    width: auto;
}

/* ----------------------------------------------- */
/* ---------------- RESUME SECTION --------------- */
/* ----------------------------------------------- */
#resume-section {
    margin: 100px 0 80px;
}

.section-title {
    font-weight: 600;
    color: #0F519D;
    font-size: 100%;
    text-transform: uppercase;
}

.job-details-box {
    margin-top: 60px;
}

.job-info-list {
    display: inline;
    float: left;
    padding: 0;
}

.job-info-list li {
    display: inline-block;
}

.duration-text {
    font-weight: 700;
    font-size: 70%;
    line-height: 15px;
    color: #5D216A;
}

.job-info-text {
    font-weight: 600;
    font-size: 70%;
    line-height: 15px;
    letter-spacing: 1.5px;
}

.job-info-text::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #0F519D; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin: 0 25px;
}

.location-text {
    color: #0D696C;
}

.position-text {
    color: #000000;
}

.job-title-text {
    color: #000;
    font-size: 70%;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.5px;
}

.lighter-text {
    font-weight: 600;
    font-size: 100%;
}

.job-description-long {
    color: #000;
    font-weight: 300;
    text-align: justify;
    font-size: 70%;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.clearfix{ zoom: 1 }
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.purple-ghost-button:link,
.purple-ghost-button:visited {
    color: #5D216A;
    border: 2px solid #8a319e;
    font-size: 70%;
    line-height: 18px;
    font-weight: bold;
    padding: 11px 13px;
    letter-spacing: 0.3px;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    display: inline-block;
    margin-left: 3px;
}

.purple-ghost-button:hover,
.purple-ghost-button:active {
    text-decoration: none;
    color: #fff;
    background-color: #5D216A;
    border: 2px solid #5D216A;
}

.job-spacer {
    margin: 385px 0;
}

.job-spacer-before {
    margin: 310px 0;
}

.resume-divider {
    background-image: url(../images/divider.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-logo {
    height: 48px;
}

.cube-logo {
    height: 54px;
}

.first-logo-spacer {
    margin: 25px 0;
}

.second-logo-spacer {
    margin: 38px 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.third-logo-spacer {
    margin: 152px 0;
}

.resume-button-spacer {
    margin: 120px 0;
}

/* ----------------------------------------------- */
/* ---------------- PROJECT SECTION --------------- */
/* ----------------------------------------------- */

#projects-section {
    padding: 30px 0 50px;
}

.projects-subtitle {
    font-weight: 400;
    font-size: 70%;
    color: #636466;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.project-image {
    width: 477px;
    max-width: 100%;
    height: auto;
}

.project-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-button-spacer {
    margin: 410px 0;
}

.project-container {
    margin-bottom: 20px;
}

.name-category-box {
    font-size: 70%;
    line-height: 25px;
    letter-spacing: 1.5px;
    display: inline-block;
    width: 50%;
}

.technologies-box {
    display: inline-block;
    width: 50%;
    float: right;
}

.project-name {
    margin-top: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0;
}

.category-name {
    font-weight: 300;
    color: #0F519D;
}

.technologies-list {
    display: inline-block;
    list-style: none;
    float: right;
    margin-top: 25px;
}

.technologies-list li {
    display: inline-block;
    font-weight: 600;
    font-size: 60%;
    line-height: 25px;
    letter-spacing: 1.5px;
    padding: 0 8px;
}

.red-full {
    background: rgba(255, 0, 0, 0.25);
    color: #FF0000;
}

.purple-full {
    background: rgba(93, 33, 106, 0.35);
    color: #5D216A;
}

.gray-full {
    background: rgba(196, 196, 196, 0.34);
    color: #000;
}

.yellow-full {
    background: rgba(240, 219, 79, 0.9);
    color: #323330;
}

.blue-full {
    background: rgba(105, 203, 247, 0.4);
    color: #1956AF;
}

.green-full {
    background: rgba(0, 202, 149, 0.7);
    color: #005133;
}

.docker-blue {
    background: rgba(74, 140, 244, 0.5);
    color: #362FCF;
}

.react-blue {
    background: rgba(58, 216, 233, 0.9);
    color: #20222A;
}

/* ----------------------------------------------- */
/* --------------- CONTACT SECTION --------------- */
/* ----------------------------------------------- */
#contact-section {
    padding: 50px 0 0;
}

.comment-half {
    background: #050C44;
    padding: 110px 0 40px;
    border: 1px solid #000;
}

.comment-title {
    color: #fff;
    font-size: 100%;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.comment-subtitle {
    color: #fff;
    font-size: 70%;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}

.prominent-comment {
    font-weight: 400;
    font-size: 70%;
    letter-spacing: 1.5px;
    line-height: 30px;
    text-align: justify;
    color: #D6D6D6;
}

.larger {
    font-weight: 800;
    font-size: 30px;
}

.larger-icon {
    font-size: 130%;
}

.comment-container {
    width: 60%;
    margin: 0 20% 0 30%;
}

.avatar-container {
    display: inline-block;
}

.testifier-details-container {
    display: inline-block;
}

.testifier-avatar {
    height: 50px;
    width: auto;
    border-radius: 50px;
    display: inline-block;
    margin-right: 4px;
    margin-top: -20px;
}

.testifier-name {
    font-weight: 600;
    font-size: 80%;
    line-height: 17px;
    letter-spacing: 0.3px;
    color: #fff;
    margin: 10px 0 0;
}

.testifier-position {
    color: #C4C4C4;
    font-weight: 300;
    font-size: 70%;
    line-height: 25px;
    letter-spacing: 0.3px;
}

.contact-form-title {
    font-weight: 600;
    font-size: 100%;
    line-height: 35px;
    letter-spacing: 1.5px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.form-container {
    padding: 50px 10% 0;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 70%;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: #A8A8A8;
    margin-bottom: 0;
}

.form-input {
    display: block;
    border: none;
    border-bottom: 3px solid #DEDEDE;
    width: 77%;
    margin: 10px 0 20px;
    font-size: 70%;
    color: #000;
    font-weight: 600;
    padding: 0;
    transition: border-bottom-color 0.3s;
}

.form-input:focus,
.form-input:active {
    outline: none;
    border: none;
    border-bottom: 3px solid #FF8958;
}

.submit-button-container {
    margin: 40px 0 50px;
    width: 77%;
}

.contact-submit-button {
    background: linear-gradient(90deg, rgba(7,15,80,1) 76%, rgba(2,0,36,1) 100%, rgba(9,32,121,1) 100%, rgba(0,212,255,1) 100%);
    color: #fff;
    font-size: 70%;
    letter-spacing: 0.3px;
    line-height: 18px;
    font-weight: 700;
    border: none;
    padding: 13px 20px;
    display: block;
    margin: 0 auto;
}

/* ----------------------------------------------- */
/* ---------------- FOOTER SECTION --------------- */
/* ----------------------------------------------- */
footer {
    background: rgba(229, 229, 229, 0.5);
    padding: 50px 0 40px;
}

.footer-title {
    font-weight: 400;
    font-size: 100%;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #FF0000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-contact {
    font-size: 70%;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #000;
    margin-bottom: 40px;
}

.email-image {
    height: 27px !important;
}

.footer-contact img {
    height: 22px;
    margin-right: 7px;
}

.social-icons-list {
    display: inline-block;
    list-style: none;
    float: left;
    padding: 0;
}

.social-icons-list li {
    display: inline-block;
    font-weight: 600;
    font-size: 60%;
    line-height: 10px;
    letter-spacing: 1.5px;
    padding: 0 16px 0 0;
}

.credit-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

.credit-image {
    height: 35px;
    margin-bottom: 10px;
}

.credit-name {
    font-weight: 600;
    font-size: 70%;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #000000;
}

/* ----------------------------------------------- */
/* ---------------- GENERAL SECTION --------------- */
/* ----------------------------------------------- */

.reg-link {
    color: inherit;
    text-decoration: none!important;
}

.reg-link:hover {
    color: #0F519D;
}